{% block footer %}
<section id="footer-app" aria-label="Application Footer">
    <div class="container-fluid">
            
            <div class="col-xs-12 col-lg-6" id="footer-left-column">
                <h3 class="mt-3">About &amp; Help</h3>
                <ul class="list-unstyled">
                    <li><a href="https://gin.btaa.org/about/about-us/">About Us</a></li>
                    <li><a href="https://gin.btaa.org/updates">Program Updates</a></li>
                    <li><a href="https://geo.btaa.org/feedback">Contact Us</a></li>
                    <li><a href="https://gin.btaa.org/guides/">Help Guides</a></li>
                    <li><a href="https://gin.btaa.org/tutorials">Tutorials</a></li>
                    <li><a href="https://btaa.org/">Big Ten Academic Alliance</a></li>
                </ul>

                <h3 class="mt-3">Policies</h3>
                <ul class="list-unstyled">
                    <li><a href="https://gin.btaa.org/policies/harmful-language/">Harmful Language Statement</a></li>
                    <li><a href="https://btaa.org/privacy">Privacy Statement</a></li>
                    <li><a href="https://gin.btaa.org/policies/collection-development/">Collection Development Policy</a></li>      
                </ul>

            </div>

            <div class="col-xs-12 col-lg-6" id="footer-right-column">
                <h3 class="mt-3">Member Libraries</h3>
                <ul class="list-unstyled" style="column-count: 2;">
                    <li><a href="https://www.lib.uchicago.edu/">University of Chicago</a></li>
                    <li><a href="https://www.library.illinois.edu/">University of Illinois</a></li>
                    <li><a href="https://libraries.indiana.edu/">Indiana University</a></li>
                    <li><a href="https://www.lib.uiowa.edu/">University of Iowa</a></li>
                    <li><a href="https://www.lib.umd.edu/">University of Maryland</a></li>
                    <li><a href="https://www.lib.umich.edu/">University of Michigan</a></li>
                    <li><a href="https://lib.msu.edu/">Michigan State University</a></li>
                    <li><a href="https://www.lib.umn.edu/">University of Minnesota</a></li>
                    <li><a href="https://libraries.unl.edu/">University of Nebraska-Lincoln</a></li>
                    <li><a href="https://www.library.northwestern.edu/">Northwestern University</a></li>
                    <li><a href="https://library.osu.edu/">The Ohio State University</a></li>
                    <li><a href="https://libraries.psu.edu/">Pennsylvania State University</a></li>
                    <li><a href="https://www.lib.purdue.edu/">Purdue University</a></li>
                    <li><a href="https://www.libraries.rutgers.edu/">Rutgers University</a></li>
                    <li><a href="https://www.library.wisc.edu/">University of Wisconsin-Madison</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}



